{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/department/add/" target="_blank">新建部门</a>
        </div>
        <div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 5px;"></span>
                    <span>部门列表</span>
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for department in department_info %}
                        <tr>
                            <th>{{ department.id }}</th>
                            <td>{{ department.name }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs "
                                   href="/department/{{ department.id }}/edit">编辑</a>
                                <a class="btn btn-danger btn-xs"
                                   href="/department/delete/?nid={{ department.id }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
