{% extends 'layout.html' %}


{% block css %}
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="account">
        <h2>短信登录</h2>
        <div class="panel-body">
            <form id="myForm" method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'code' %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            <div class="row">
                                <div class="col-xs-7">
                                    {{ field }}
                                    <span class="error_msg" style="color: red;">{{ field.errors.0 }}</span>
                                </div>
                                <div class="col-xs-5">
                                    <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <!-- 数据校验,显示错误信息 -->
                            <span class="error_msg" style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn btn-primary center-block" style="width: 80px;" id="btnSmsLogin">登录
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(function () {
            bindBtnRegisterEvent();
            bindBtnSmsEvent()

        })

        function bindBtnRegisterEvent() {
            $("#btnSmsLogin").click(function () {
                $(".error_msg").empty()
                $.ajax({
                    url: "/smslogin/",
                    type: "POST",
                    data: $("#myForm").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                            {#console.log(res.data)#}
                        } else {
                            {#    错误信息展示#}
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0])
                            })
                        }
                    }
                });
            })
        }


        function bindBtnSmsEvent() {
            $('#btnSms').click(function () {
                    $(".error_msg").empty()
                    var mobilePhone = $('#id_phone').val()
                    $.ajax({
                        url: "/send_sms/",
                        type: "GET",
                        data: {
                            phone: mobilePhone,
                            tpl: 'login'
                        },
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                bindSendSmsRemind();
                            } else {
                                {#    错误信息展示#}
                                $.each(res.error, function (key, value) {
                                    $("#id_" + key).next().text(value[0])
                                })
                            }
                        }
                    });

                }
            )
        }

        function bindSendSmsRemind() {
            var $smsBtn = $("#btnSms")
            {#禁用#}
            $smsBtn.prop('disabled', true);
            var time = 60;
            var remind = setInterval(function () {
                $smsBtn.val(time + '秒重新发送');
                time = time - 1
                if (time < 1) {
                    clearInterval(remind)
                    $smsBtn.val('点击获取验证码').prop('disabled', false);
                }
            }, 1000)
        }


    </script>
{% endblock %}